---
layout: default
title: All Posts from Craft Journal
---

<div class="archive">
    <h2>All Posts</h2>
    
    {% assign current_month_year = "" %}
    {% for post in site.posts %}
        {% assign post_month_year = post.date | date: "%B %Y" %}
        
        {% if post_month_year != current_month_year %}
            {% assign current_month_year = post_month_year %}
        <h3 class="archive-year">{{ post_month_year }}</h3>
        {% endif %}
        
        <article class="archive-post">
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %d" }}</time>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </article>
    {% endfor %}
</div>
